@import "../../variables";
@import "../../mixins";

.games {
  .page-content {
    position: relative;
  }

  .menu, .content {
    position: absolute;
    transition: left 1s ease-in-out;
  }

  .no-game {
    margin-left: 40px;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .hider {
    z-index: 200;
    position: absolute;
    left: $menu-width;
    top: 50%;
    transform: translateY(-50%);
    transition: left 1s ease-in-out;
    overflow: hidden;
    width: 50px;
    border-radius: 0 50% 50% 0;

    .wrapper {
      cursor: pointer;
      padding: 20px;
      background: white;
      border-radius: 100%;
      transform: translateX(-50%);
      height: 100px;
      width: 100px;
      border: 1px solid #ccc;
      position: relative;

      .icon {
        position: absolute;
        left: 70px;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 32px;
      }
    }
  }

  .menu {
    z-index: 300;
    top: 0;
    bottom: 0;
    left: 0;
    width: $menu-width;
    padding: $menu-padding 2 * $menu-padding $menu-padding $menu-padding;
    border-right: 1px solid #CCC;
    overflow: hidden;
    overflow-y: auto;
  }

  .wrapper.menu-closed {
    .menu {
      left: -$menu-width;
    }

    .content, .hider {
      left: 0;
    }
  }

  .content {
    top: 0;
    left: $menu-width;
    right: 0;
    bottom: 0;
    padding: $menu-padding;
    overflow: auto;
    margin: 0;

    .games {
      display: flex;
      flex-wrap: wrap;
      margin-left: -40px;

      .card-holder {
        flex: 0 0 340px;
        height: 340px;
        padding: 0 0 0 40px;
      }
    }
  }
}

.small-screen.games .content .games {
  justify-content: center;
}
