@import "../../variables";
@import "../../mixins";

.games {
  .menu, .content {
    position: absolute;
  }

  .menu {
    top: 0;
    bottom: 0;
    left: 0;
    width: $menu-width;
    padding: $menu-padding;

  }

  .content {
    top: 0;
    left: $menu-width;
    right: 0;
    bottom: 0;
    padding: $menu-padding $menu-padding $menu-padding 2 * $menu-padding;
    border-left: 1px solid #CCC;
    overflow: auto;

    .card-holder {
      padding: $menu-padding;
    }
  }
}
