@import "../../variables";
@import "../../mixins";

.location {
  .content {
    margin-top: 100px;
  }

  .page-title h1 {
    position: relative;

    .actions {
      cursor: pointer;
      @include center-y;
      right: 10px;
      font-size: .5em;

      > * {
        display: inline-block;

        &:not(:last-of-type) {
          margin-right: 1ch;
        }
      }
    }
  }
}
