@import "../../variables";
@import "../../mixins";

.location {
  .content {
    margin-top: 100px;
  }

  .page-title h1 {
    position: relative;

    .actions {
      cursor: pointer;
      @include center-y;
      right: 10px;
      font-size: .5em;

      > * {
        display: inline-block;

        &:not(:last-of-type) {
          margin-right: 1ch;
        }
      }
    }
  }

  .games {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;

    .card-holder {
      flex: 0 0 340px;
      height: 340px;
      padding: 0 0 0 40px;
    }

    &.no-game {
      text-align: center;
    }
  }
}

.small-screen.location .content .games {
  justify-content: center;
}
