@import "../../mixins";

.loadingButton {
  position: relative;

  .loading-wrapper {
    display: none;

    @include center;
  }

  &.loading {
    .content-wrapper {
      visibility: hidden;
    }

    .loading-wrapper {
      display: block;
    }
  }
}
