@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/grid";
@import "../../variables";
@import "../../mixins";

.modal.show .modal-dialog.choose-a-version {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  max-width: 50vw;
  margin: 0;
  display: block;
  padding: 0;
  background: transparent;

  &.loading {
    height: 247px;
    width: 32em;
    max-width: 100%;

    padding-left: 0.625em;
    padding-right: 0.625em;

    .modal-content {
      height: 100%;
      border: none;
    }
  }

  .modal-body {
    max-height: calc(50vh - 63px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0;

    .version {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 16px;

      &:hover {
        background: $light-blue;
        color: white;
      }

      &:not(:last-of-type) {
        margin-bottom: 2ch;
      }

      &:last-of-type {
        margin-bottom: 16px;
      }

      img {
        height: 150px;
        width: 150px;
        object-fit: contain;
      }

      .name {
        margin-left: 2ch;
      }
    }
  }
}

.addGame {
  .no-game, .loading {
    text-align: center;
    width: 100%;
  }

  .locations-select, .language-select {
    margin-left: -20px;
  }

  .locations-select {
    .name {
      span {
        margin-left: 1ch;
        opacity: .5;
      }
    }
  }

  .form-container {
    background: #eee;
    box-shadow: 0 0 100px #bbb;
    padding: 2em;
    margin-bottom: 3em;
    margin-top: 1em;
    border-radius: 8px;

    .large-only {
      #exact, #add-multiple {
        margin-top: 0.8em;
      }
    }
  }

  .candidates {
    margin-left: 2em;

    .counter {
      margin-bottom: 1em;
    }

    .game-preview {
      list-style: none;
      display: flex;
      align-items: center;

      .buttons {
        margin-right: 2ch;
      }

      button {
        background-size: cover;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin: 1ch 0;
        vertical-align: super;
        font-size: 18px;
        line-height: 14px;
        width: 30px;
        height: 30px;
        position: relative;

        &:not(:last-of-type) {
          margin-right: 1ch;
        }

        &:hover svg path {
          fill: $add-background;
        }

        svg {
          @include center;

          path {
            stroke-width: 20px;
            stroke: black;
            fill: white
          }
        }
      }

      & > * {
        display: inline-block;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .candidates {
      margin-left: 0;

      .game-preview {
        flex-direction: column-reverse;
        margin-bottom: 14px;
        box-shadow: 0 0 10px #bbb;
        padding: 10px;
        border-radius: 6px;
        align-items: normal;
      }
    }

    .buttons {
      text-align: right;
    }

    .previews {
      padding-left: 0;
    }
  }
}
