.account {

  .container  {
    margin-top: 1em;
  }

  .section {
    width: 100%;
    margin-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
  }

  .btn {
    width: 100%;
  }
}
