.gamePreview {
  display: flex;
  flex-direction: row;

  .type {
    margin-right: 1ch;
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .match {
      font-weight: bold;
    }
  }

  .yearOfPublication {
    margin-left: .5ch;
  }
}
