@import "~flag-icon-css/sass/flag-icon";
@import "~react-bootstrap-switch/dist/css/bootstrap3/react-bootstrap-switch.min";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/grid";
@import "./fonts/fonts";

html.swal2-height-auto > body.swal2-height-auto {
  height: 100% !important
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-family: "Ubuntu", sans-serif
}

body {
  background: transparent !important;
  $breakpoint: md;

  @include media-breakpoint-down($breakpoint) {
    .small-only {
      display: block;
      visibility: visible;

      &.row {
        display: flex;
      }
    }
    .large-only {
      display: none;
      visibility: hidden;
    }
  }

  @include media-breakpoint-up($breakpoint) {
    .small-only {
      display: none;
      visibility: hidden;
    }
    .large-only {
      display: block;
      visibility: visible;

      &.row {
        display: flex;
      }
    }
  }
}

html.swal2-height-auto, body.swal2-height-auto {
  height: 100% !important
}

.footer-container {
  overflow: hidden;
}
