// Colors

$blue: #3887b7;
$green: #5eb738;

// Sizes

$page-padding: 40px;
$footer-height: 40px;
$menu-width: 240px;
$menu-padding: 20px;

// Variables

$color: black;
$add-background: $green;
$link-color: $blue;
$link-color-hover: lighten($link-color, 10%);
