// Colors

$blue: blue;

// Sizes

$page-padding: 40px;
$footer-height: 40px;
$menu-width: 200px;
$menu-padding: 20px;

// Variables

$color: black;
$link-color: $blue;
$link-color-hover: lighten($link-color, 10%);
