// Colors

$blue: #3887b7;
$green: #5eb738;
$light-grey: #ccc;
$darkish: #212529;

// Sizes

$page-padding: 40px;
$footer-height: 40px;
$menu-width: 240px;
$menu-padding: 20px;

$card-height: 300px;
$card-width: 300px;
$navigation-menu-height: 2em;

// Variables

$color: $darkish;
$add-background: $green;
$link-color: $blue;
$link-color-hover: lighten($link-color, 10%);
$card-border: $light-grey;
