@import "../../variables";

.page.not-found {
  .page-content {
    padding: 40px;
  }

  .cube {
    margin-bottom: 20px;
    text-align: center;

    img {
      border-radius: 10px;
      width: 200px;
    }
  }

  .back-link {
    background: transparent;
    border: none;
    color: $link-color;
    text-decoration: underline;
    padding: 0;
    margin: 0 0 0 .5ch;

    &:hover {
      color: $link-color-hover;
    }
  }
}
