@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/grid";
@import "../../variables";

.navigationMenu {
  width: 100%;
  height: 100%;
  background: url("./dust_scratches.png");

  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;

  .group {
    flex: 0 1 auto;
    display: flex;

    &.right {
      border-left: 1px solid #ccc;
    }
  }

  .link {
    flex: 0 0 auto;
    padding: .5em 1em;
    border-right: 1px solid #ccc;
    color: #212529;

    .icon {
      font-size: 1.5em;
    }

    &.active {
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./dust_scratches.png");
    }

    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./dust_scratches.png");
      text-decoration: none;
    }
  }

  .link.random {
    cursor: pointer;
    user-select: none;
  }

  .link.account {
    justify-self: right;
  }

  @include media-breakpoint-down(sm) {
    .link.account {
      .account {
        .name {
          display: none;
          visibility: hidden;
        }
      }
    }
  }
}
